.notification-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.notification {
    position: relative;
    padding: 1rem;
    padding-right: 2.5rem;
    box-shadow: 0 0 4px 0 #00000030;
    border-radius: 2px;
    max-width: 540px;

    border-left: 4px solid transparent;

    p {
        margin: 0;
    }

    button {
        border: none;
        background-color: transparent;

        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        cursor: pointer;

        width: 1.25rem;
        height: 1.25rem;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2px; /* Thickness of lines */
            height: 100%;
            background-color: black;
            transform-origin: center;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &.error {
        border-color: lightcoral;
    }
    &.info {
        border-color: lightskyblue;
    }
    &.warning {
        border-color: orange;
    }
    &.success {
        border-color: green;
    }
}
